@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
  color: #fff;
}

/* CSSTransition */
.fade-enter {
  opacity: 0.5;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.5;
  transition: opacity 1000ms;
}

/* Banner.jsx SkeletonBanner.jsx */
@layer base {
  .banner-responsive {
    @apply aspect-[0.7] xs:aspect-[1] sm:aspect-[1.4] md:aspect-[1.6] lg:aspect-[1.8] xl:aspect-[2];
  }

  .banner-gradient {
    background-image: linear-gradient(to bottom,
        rgba(0, 0, 0, 0.7) 0px,
        rgba(0, 0, 0, 0.3) 80px,
        rgba(0, 0, 0, 0.3) calc(100% - 80px),
        rgba(0, 0, 0, 1) 100%);
  }

  .banner-info {
    @apply px-spacingSm lg:px-spacingLg absolute bottom-[56px] z-20 flex flex-col gap-4 md:bottom-[72px] md:px-spacingMd lg:bottom-[108px] lg:gap-6 xl:bottom-[124px];
  }
}